openapi: 3.2.0
info:
  title: ZenHR Overtimes API
  version: v3
  description: REST API for the ZenHR HR & payroll platform.
  contact:
    name: ZenHR DevOps
    email: devops@zenhr.com
    url: https://api-docs.zenhr.com/
  x-apievangelist-source: https://api-docs.zenhr.com/ (Postman published collection 2sA3dxDWwR)
servers:
- url: https://app.zenhr.com/api/v3
  description: Production
- url: https://aiapi.zenhr.com/api/v3
  description: Attendance ingestion (AI) host
security:
- oauth2:
  - read:employee
tags:
- name: Overtimes
paths:
  /branches/{branch_id}/employees/{employee_id}/overtimes:
    get:
      summary: List Overtime
      tags:
      - Overtimes
      operationId: listOvertime
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create Overtime
      tags:
      - Overtimes
      operationId: createOvertime
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/overtimes/{overtime_id}:
    get:
      summary: Get Overtime
      tags:
      - Overtimes
      operationId: getOvertime
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: overtime_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Destroy Overtime
      tags:
      - Overtimes
      operationId: destroyOvertime
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: overtime_id
        in: path
        required: true
        schema:
          type: string
    patch:
      summary: Edit Overtime
      tags:
      - Overtimes
      operationId: editOvertime
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: overtime_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/overtime_requests:
    post:
      summary: Create Overtime Request
      tags:
      - Overtimes
      operationId: createOvertimeRequest
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/overtimes:
    get:
      summary: List Overtime
      tags:
      - Overtimes
      operationId: listOvertime2
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create Overtime
      tags:
      - Overtimes
      operationId: createOvertime2
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/overtimes/{overtime_id}:
    get:
      summary: Get Overtime
      tags:
      - Overtimes
      operationId: getOvertime2
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: overtime_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Destroy Overtime
      tags:
      - Overtimes
      operationId: destroyOvertime2
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: overtime_id
        in: path
        required: true
        schema:
          type: string
    patch:
      summary: Edit Overtime
      tags:
      - Overtimes
      operationId: editOvertime2
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: overtime_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/integration_maps/overtime/{global_id}:
    get:
      summary: Get Overtime
      tags:
      - Overtimes
      operationId: getOvertime3
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: global_id
        in: path
        required: true
        schema:
          type: string
    patch:
      summary: Edit Overtime
      tags:
      - Overtimes
      operationId: editOvertime3
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: global_id
        in: path
        required: true
        schema:
          type: string
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.zenhr.com/en/oauth/authorize
          tokenUrl: https://api.zenhr.com/en/oauth/token
          scopes:
            read:branch: Read branch data
            read:employee: Read employee data
            accessed_employees_branches:employee: Access employees within permitted branches
            read:professional_info: Read employee professional information
            read:termination: Read termination data
            read:employee_disciplinary_actions: Read employee disciplinary actions
            read:financial_transaction: Read financial transactions
            read:performance_evaluation: Read performance evaluations
            read:timeoff_transaction: Read time-off transactions
