openapi: 3.1.0
info:
  title: ZenHR Approvals Business Trips API
  version: v3
  description: REST API for the ZenHR HR & payroll platform. Integrate external applications with ZenHR to manage branches, employees, master/professional/financial data, payroll (salaries, financial transactions, loans, overtime), time off, attendance, competencies, HR letters, terminations, business travel, and documents. Responds in JSON with standard HTTP status codes; authenticated via OAuth 2.0 (authorization code + PKCE). Derived by API Evangelist from the provider's published Postman documentation collection.
  contact:
    name: ZenHR DevOps
    email: devops@zenhr.com
    url: https://api-docs.zenhr.com/
  x-apievangelist-source: https://api-docs.zenhr.com/ (Postman published collection 2sA3dxDWwR)
servers:
- url: https://app.zenhr.com/api/v3
  description: Production
- url: https://aiapi.zenhr.com/api/v3
  description: Attendance ingestion (AI) host
security:
- oauth2:
  - read:employee
tags:
- name: Business Trips
paths:
  /branches/{branch_id}/business_trips:
    get:
      summary: 1. View All Business Trips
      tags:
      - Business Trips
      operationId: 1ViewAllBusinessTrips
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: 3. Create Business Trip
      tags:
      - Business Trips
      operationId: 3CreateBusinessTrip
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
            example:
              business_trip:
                category: international
                employee_id: 1159
                departure_city_id: 152
                arrival_city_id: 472
                start_date: '2025-06-17'
                end_date: '2025-06-18'
                with_accommodation: true
                notes: Szia
                extra_expenses_attributes:
                - _destroy: false
                  amount: 1200
                  amount_currency: SAR
                  financial_transaction_type_id: 1748
                - _destroy: false
                  amount: 24000
                  amount_currency: SAR
                  financial_transaction_type_id: 1748
                - _destroy: false
                  amount: 4800000
                  amount_currency: SAR
                  financial_transaction_type_id: 1748
  /branches/{branch_id}/business_trips/{business_trip_id}:
    get:
      summary: 2. View Business Trip
      tags:
      - Business Trips
      operationId: 2ViewBusinessTrip
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: business_trip_id
        in: path
        required: true
        schema:
          type: string
    patch:
      summary: 4. Update Business Trip
      tags:
      - Business Trips
      operationId: 4UpdateBusinessTrip
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: business_trip_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: 5. Delete Business Trip
      tags:
      - Business Trips
      operationId: 5DeleteBusinessTrip
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: business_trip_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/business_trips/travel_types:
    get:
      summary: 6. View Available Travel Types
      tags:
      - Business Trips
      operationId: 6ViewAvailableTravelTypes
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/business_trips/destinations_cities:
    get:
      summary: 7. View Available Destination Cities
      tags:
      - Business Trips
      operationId: 7ViewAvailableDestinationCities
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/business_trips/all_available_arrivals:
    get:
      summary: 8. View Available Arrival Cities
      tags:
      - Business Trips
      operationId: 8ViewAvailableArrivalCities
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/business_trips/destinations_data:
    get:
      summary: 9. View Available Destinations
      tags:
      - Business Trips
      operationId: 9ViewAvailableDestinations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.zenhr.com/en/oauth/authorize
          tokenUrl: https://api.zenhr.com/en/oauth/token
          scopes:
            read:branch: Read branch data
            read:employee: Read employee data
            accessed_employees_branches:employee: Access employees within permitted branches
            read:professional_info: Read employee professional information
            read:termination: Read termination data
            read:employee_disciplinary_actions: Read employee disciplinary actions
            read:financial_transaction: Read financial transactions
            read:performance_evaluation: Read performance evaluations
            read:timeoff_transaction: Read time-off transactions
