openapi: 3.1.0
info:
  title: ZenHR API
  version: v3
  description: REST API for the ZenHR HR & payroll platform. Integrate external applications with ZenHR to manage branches,
    employees, master/professional/financial data, payroll (salaries, financial transactions, loans, overtime), time off,
    attendance, competencies, HR letters, terminations, business travel, and documents. Responds in JSON with standard HTTP
    status codes; authenticated via OAuth 2.0 (authorization code + PKCE). Derived by API Evangelist from the provider's published
    Postman documentation collection.
  contact:
    name: ZenHR DevOps
    email: devops@zenhr.com
    url: https://api-docs.zenhr.com/
  x-apievangelist-source: https://api-docs.zenhr.com/ (Postman published collection 2sA3dxDWwR)
servers:
- url: https://app.zenhr.com/api/v3
  description: Production
- url: https://aiapi.zenhr.com/api/v3
  description: Attendance ingestion (AI) host
tags:
- name: Approvals
- name: Attendance Details
- name: Bank Account
- name: Bank Accounts
- name: Bank Branches
- name: Banks
- name: Branch Employee Shifts
- name: Branches
- name: Business Travel Policies
- name: Business Travel Setup
- name: Business Trips
- name: Business Units
- name: Competencies
- name: Competencies Categories
- name: Countries
- name: Departments
- name: Divisions
- name: Document Types
- name: Documents
- name: Employee Competencies
- name: Employee Financial Transactions
- name: Employee Master Data
- name: Employee Shifts
- name: Employee Timeoff Transaction
- name: Employees
- name: Employees HR Letters
- name: Employees Termination
- name: Families
- name: Financial Data
- name: Financial Transaction Types
- name: Financial Transactions
- name: General
- name: Governmental Information
- name: HR Letter Templates
- name: HR Letter Types
- name: Hirearchy Groups
- name: Level Scales
- name: Loan Types
- name: Loans
- name: Main Projects
- name: Miscellaneous Requests
- name: Miscellaneous Types
- name: Overtime Types
- name: Overtimes
- name: Positions
- name: Professional Data
- name: Recurring Transaction
- name: Request Events
- name: Salaries
- name: Sections
- name: Segments
- name: Termination Setup
- name: Terminations
- name: Timeoff Transaction
- name: Timeoffs
- name: Users
- name: Work Location
- name: Work Shifts
security:
- oauth2:
  - read:employee
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.zenhr.com/en/oauth/authorize
          tokenUrl: https://api.zenhr.com/en/oauth/token
          scopes:
            read:branch: Read branch data
            read:employee: Read employee data
            accessed_employees_branches:employee: Access employees within permitted branches
            read:professional_info: Read employee professional information
            read:termination: Read termination data
            read:employee_disciplinary_actions: Read employee disciplinary actions
            read:financial_transaction: Read financial transactions
            read:performance_evaluation: Read performance evaluations
            read:timeoff_transaction: Read time-off transactions
paths:
  /company:
    get:
      summary: company
      tags:
      - General
      operationId: company
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /who_am_i:
    get:
      summary: who am i
      tags:
      - General
      operationId: whoAmI
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /branches:
    get:
      summary: List Branches
      tags:
      - Branches
      operationId: listBranches
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /branches/{branch_id}:
    get:
      summary: Get Branch
      tags:
      - Branches
      operationId: getBranch
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/salaries:
    get:
      summary: List Branch Salaries
      tags:
      - Branches
      operationId: listBranchSalaries
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/main_projects:
    get:
      summary: List Main Projects
      tags:
      - Main Projects
      operationId: listMainProjects
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/main_projects/{main_project_id}:
    get:
      summary: Get Main Project
      tags:
      - Main Projects
      operationId: getMainProject
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: main_project_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Delete Main Project
      tags:
      - Main Projects
      operationId: deleteMainProject
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: main_project_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create Main Project
      tags:
      - Main Projects
      operationId: createMainProject
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: main_project_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/hierarchy_groups:
    get:
      summary: List Hirearchy Groups
      tags:
      - Hirearchy Groups
      operationId: listHirearchyGroups
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/hierarchy_groups/{hierarchy_group_id}:
    get:
      summary: Get Hirearchy Group
      tags:
      - Hirearchy Groups
      operationId: getHirearchyGroup
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: hierarchy_group_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Delete Hirearchy Group
      tags:
      - Hirearchy Groups
      operationId: deleteHirearchyGroup
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: hierarchy_group_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create Hierarchy Group
      tags:
      - Hirearchy Groups
      operationId: createHierarchyGroup
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: hierarchy_group_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/departments:
    get:
      summary: List Departments
      tags:
      - Departments
      operationId: listDepartments
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/departments/{department_id}:
    get:
      summary: Get Department
      tags:
      - Departments
      operationId: getDepartment
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: department_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Delete Department
      tags:
      - Departments
      operationId: deleteDepartment
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: department_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create Department
      tags:
      - Departments
      operationId: createDepartment
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: department_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/sections:
    get:
      summary: List Sections
      tags:
      - Sections
      operationId: listSections
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create Section
      tags:
      - Sections
      operationId: createSection
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/sections/{section_id}:
    get:
      summary: Get Section
      tags:
      - Sections
      operationId: getSection
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: section_id
        in: path
        required: true
        schema:
          type: string
    patch:
      summary: Update Section
      tags:
      - Sections
      operationId: updateSection
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: section_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Delete Section
      tags:
      - Sections
      operationId: deleteSection
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: section_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/sites:
    get:
      summary: List Work Locations
      tags:
      - Work Location
      operationId: listWorkLocations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/sites/{site_id}:
    get:
      summary: Get Work Location
      tags:
      - Work Location
      operationId: getWorkLocation
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: site_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Delete Work Location
      tags:
      - Work Location
      operationId: deleteWorkLocation
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: site_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create Work Location
      tags:
      - Work Location
      operationId: createWorkLocation
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: site_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/business_units:
    get:
      summary: List Business Units
      tags:
      - Business Units
      operationId: listBusinessUnits
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create Business Unit
      tags:
      - Business Units
      operationId: createBusinessUnit
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/business_units/{business_unit_id}:
    get:
      summary: Get Business Unit
      tags:
      - Business Units
      operationId: getBusinessUnit
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: business_unit_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Delete Business Unit
      tags:
      - Business Units
      operationId: deleteBusinessUnit
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: business_unit_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/segments:
    get:
      summary: List Segments
      tags:
      - Segments
      operationId: listSegments
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/segments/{segment_id}:
    get:
      summary: Show Segments
      tags:
      - Segments
      operationId: showSegments
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: segment_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create Segments
      tags:
      - Segments
      operationId: createSegments
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: segment_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Delete Segments
      tags:
      - Segments
      operationId: deleteSegments
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: segment_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/divisions:
    get:
      summary: List Divisions
      tags:
      - Divisions
      operationId: listDivisions
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create Division
      tags:
      - Divisions
      operationId: createDivision
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/divisions/{division_id}:
    get:
      summary: Show Division
      tags:
      - Divisions
      operationId: showDivision
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: division_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Delete Division
      tags:
      - Divisions
      operationId: deleteDivision
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: division_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/positions:
    get:
      summary: List Positions
      tags:
      - Positions
      operationId: listPositions
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create Position
      tags:
      - Positions
      operationId: createPosition
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/positions/{position_id}:
    get:
      summary: Get Position
      tags:
      - Positions
      operationId: getPosition
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: position_id
        in: path
        required: true
        schema:
          type: string
    patch:
      summary: Edit Position
      tags:
      - Positions
      operationId: editPosition
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: position_id
        in: path
        required: true
        schema:
          type: string
  /users/{user_id}:
    get:
      summary: List users
      tags:
      - Users
      operationId: listUsers
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Delete User
      tags:
      - Users
      operationId: deleteUser
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create User
      tags:
      - Users
      operationId: createUser
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
    patch:
      summary: Update User
      tags:
      - Users
      operationId: updateUser
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees:
    get:
      summary: List Employees
      tags:
      - Employee Master Data
      operationId: listEmployees
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create Employee
      tags:
      - Employee Master Data
      operationId: createEmployee
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}:
    get:
      summary: Get Employee
      tags:
      - Employee Master Data
      operationId: getEmployee
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
    patch:
      summary: Update Employee
      tags:
      - Employee Master Data
      operationId: updateEmployee
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/professional_data:
    get:
      summary: List Employee Professional Data
      tags:
      - Professional Data
      operationId: listEmployeeProfessionalData
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create Employee Professional Data
      tags:
      - Professional Data
      operationId: createEmployeeProfessionalData
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/professional_data/{professional_data_id}:
    patch:
      summary: Update Employee Professional Data
      tags:
      - Professional Data
      operationId: updateEmployeeProfessionalData
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: professional_data_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Destroy Employee Professional Data
      tags:
      - Professional Data
      operationId: destroyEmployeeProfessionalData
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: professional_data_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/professional_data/active:
    get:
      summary: Get Employee Active Professional Data
      tags:
      - Professional Data
      operationId: getEmployeeActiveProfessionalData
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/financial_data:
    get:
      summary: List Employee Financial Data
      tags:
      - Financial Data
      operationId: listEmployeeFinancialData
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create Employee Financial Data
      tags:
      - Financial Data
      operationId: createEmployeeFinancialData
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/financial_data/{financial_datum_id}:
    patch:
      summary: Update Employee Financial Data
      tags:
      - Financial Data
      operationId: updateEmployeeFinancialData
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: financial_datum_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Destroy Employee Financial Data
      tags:
      - Financial Data
      operationId: destroyEmployeeFinancialData
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: financial_datum_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/financial_data/active:
    get:
      summary: Get Employee Active Financial Data
      tags:
      - Financial Data
      operationId: getEmployeeActiveFinancialData
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/financial_data/{financial_datum_id}/recurring_transactions:
    get:
      summary: List Recurring Transactions
      tags:
      - Recurring Transaction
      operationId: listRecurringTransactions
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: financial_datum_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create Recurring Transaction
      tags:
      - Recurring Transaction
      operationId: createRecurringTransaction
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: financial_datum_id
        in: path
        required: true
        schema:
          type: string
  ? /branches/{branch_id}/employees/{employee_id}/financial_data/{financial_datum_id}/recurring_transactions/{recuuring_transaction_id}
  : patch:
      summary: Update Recurring Transaction
      tags:
      - Recurring Transaction
      operationId: updateRecurringTransaction
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: financial_datum_id
        in: path
        required: true
        schema:
          type: string
      - name: recuuring_transaction_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Destroy Recurring Transaction
      tags:
      - Recurring Transaction
      operationId: destroyRecurringTransaction
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: financial_datum_id
        in: path
        required: true
        schema:
          type: string
      - name: recuuring_transaction_id
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get Recurring Transaction
      tags:
      - Recurring Transaction
      operationId: getRecurringTransaction
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: financial_datum_id
        in: path
        required: true
        schema:
          type: string
      - name: recuuring_transaction_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/salaries:
    get:
      summary: Get Employee Salary
      tags:
      - Salaries
      operationId: getEmployeeSalary
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/salaries/{salary_id}:
    patch:
      summary: Update Salary Financial Integration Status
      tags:
      - Salaries
      operationId: updateSalaryFinancialIntegrationStatus
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: salary_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/financial_transactions/{financial_transaction_id}:
    get:
      summary: List Employee Financal Transactions
      tags:
      - Employee Financial Transactions
      operationId: listEmployeeFinancalTransactions
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: financial_transaction_id
        in: path
        required: true
        schema:
          type: string
    patch:
      summary: Update Employee Financal Transactions
      tags:
      - Employee Financial Transactions
      operationId: updateEmployeeFinancalTransactions
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: financial_transaction_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Destroy Employee Financal Transactions
      tags:
      - Employee Financial Transactions
      operationId: destroyEmployeeFinancalTransactions
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: financial_transaction_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/financial_transactions:
    post:
      summary: Create Employee Financal Transactions
      tags:
      - Employee Financial Transactions
      operationId: createEmployeeFinancalTransactions
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/financial_transactions_requests:
    post:
      summary: Create Employee Financal Transaction Requests
      tags:
      - Employee Financial Transactions
      operationId: createEmployeeFinancalTransactionRequests
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee}/financial_transactions/{financial_transaction_id}:
    get:
      summary: Get Employee Financial Transaction
      tags:
      - Employee Financial Transactions
      operationId: getEmployeeFinancialTransaction
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee
        in: path
        required: true
        schema:
          type: string
      - name: financial_transaction_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/timeoff_transactions:
    get:
      summary: List Employee Timeoff Transactions
      tags:
      - Employee Timeoff Transaction
      operationId: listEmployeeTimeoffTransactions
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/timeoff_transactions/{timeoff_transaction_id}:
    get:
      summary: Get Employee Timeoff Transaction
      tags:
      - Employee Timeoff Transaction
      operationId: getEmployeeTimeoffTransaction
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: timeoff_transaction_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/timeoff_transaction_requests:
    post:
      summary: Create Timeoff Transaction Request
      tags:
      - Employee Timeoff Transaction
      operationId: createTimeoffTransactionRequest
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/employee_competencies:
    get:
      summary: List Employee Competencies
      tags:
      - Employee Competencies
      operationId: listEmployeeCompetencies
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create Employee Competency
      tags:
      - Employee Competencies
      operationId: createEmployeeCompetency
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/employee_competencies/{employee_competency_id}:
    get:
      summary: Get Employee Competency
      tags:
      - Employee Competencies
      operationId: getEmployeeCompetency
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_competency_id
        in: path
        required: true
        schema:
          type: string
    patch:
      summary: Update Employee Competency
      tags:
      - Employee Competencies
      operationId: updateEmployeeCompetency
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_competency_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Delete Competency
      tags:
      - Employee Competencies
      operationId: deleteCompetency
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_competency_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/approvals:
    get:
      summary: List Approvals
      tags:
      - Approvals
      operationId: listApprovals
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/approvals/{approval_id}:
    get:
      summary: Get Approval
      tags:
      - Approvals
      operationId: getApproval
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: approval_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/overtimes:
    get:
      summary: List Overtime
      tags:
      - Overtimes
      operationId: listOvertime
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create Overtime
      tags:
      - Overtimes
      operationId: createOvertime
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/overtimes/{overtime_id}:
    get:
      summary: Get Overtime
      tags:
      - Overtimes
      operationId: getOvertime
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: overtime_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Destroy Overtime
      tags:
      - Overtimes
      operationId: destroyOvertime
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: overtime_id
        in: path
        required: true
        schema:
          type: string
    patch:
      summary: Edit Overtime
      tags:
      - Overtimes
      operationId: editOvertime
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: overtime_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/overtime_requests:
    post:
      summary: Create Overtime Request
      tags:
      - Overtimes
      operationId: createOvertimeRequest
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/loans:
    get:
      summary: List Loans
      tags:
      - Loans
      operationId: listLoans
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create Loan
      tags:
      - Loans
      operationId: createLoan
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/loans/{loan_id}:
    get:
      summary: Get Loan
      tags:
      - Loans
      operationId: getLoan
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: loan_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Destroy Loan
      tags:
      - Loans
      operationId: destroyLoan
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: loan_id
        in: path
        required: true
        schema:
          type: string
    patch:
      summary: Edit Loan
      tags:
      - Loans
      operationId: editLoan
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: loan_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/loan_requests:
    post:
      summary: Create Loan Request
      tags:
      - Loans
      operationId: createLoanRequest
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/miscellaneous_requests:
    get:
      summary: List Employees Miscellaneous Requests
      tags:
      - Miscellaneous Requests
      operationId: listEmployeesMiscellaneousRequests
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create Miscellaneous Request
      tags:
      - Miscellaneous Requests
      operationId: createMiscellaneousRequest
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/miscellaneous_requests/{miscellaneous_request_id}:
    get:
      summary: Show Employees Miscellaneous Requests
      tags:
      - Miscellaneous Requests
      operationId: showEmployeesMiscellaneousRequests
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: miscellaneous_request_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/bank_accounts:
    get:
      summary: List Employee Bank Account
      tags:
      - Bank Account
      operationId: listEmployeeBankAccount
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
            example:
              allowed_actions: []
              pagination:
                current_page: 1
                per_page: 25
                total_entries: 1
                total_pages: 1
              data:
              - id: 71444
                owner_id: 138679
                owner_type: Employee
                bank_branch:
                  bank_branch_id: 6
                  id: 6
                  bank:
                    id: 1
                    name:
                      ar: البنك العربي
                      en: Arab Bank
                    country:
                      country_id: 111
                      id: 111
                      name:
                        ar: الأردن
                        en: Jordan
                      country_code: JO
                      region: mena
                    routing_id: '10'
                    short_code: null
                    swift_code: ARABJOAXXXX
                  swift_code: null
                  name:
                    ar: null
                    en: Main Branch
                iban: SA0380000000608010167519
                bank_account_number: '78342012891'
                percent_transfer: 100.0
                related_establishment_number: null
                swift_code: null
                exchange_account: ''
  /branches/{branch_id}/employees/{employee_id}/families:
    get:
      summary: List Employee Families
      tags:
      - Families
      operationId: listEmployeeFamilies
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create Family
      tags:
      - Families
      operationId: createFamily
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/families/{family_id}:
    get:
      summary: Show Family
      tags:
      - Families
      operationId: showFamily
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: family_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Delete Family
      tags:
      - Families
      operationId: deleteFamily
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: family_id
        in: path
        required: true
        schema:
          type: string
    patch:
      summary: Update Family
      tags:
      - Families
      operationId: updateFamily
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: family_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/employee_shifts:
    get:
      summary: List Employee Shifts
      tags:
      - Employee Shifts
      operationId: listEmployeeShifts
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create Employee Shift
      tags:
      - Employee Shifts
      operationId: createEmployeeShift
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/employee_shifts/{work_shift_id}:
    get:
      summary: Show Employee Shifts
      tags:
      - Employee Shifts
      operationId: showEmployeeShifts
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: work_shift_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Delete Employee Shift
      tags:
      - Employee Shifts
      operationId: deleteEmployeeShift
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: work_shift_id
        in: path
        required: true
        schema:
          type: string
    patch:
      summary: Update Employee Shift
      tags:
      - Employee Shifts
      operationId: updateEmployeeShift
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: work_shift_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/terminations:
    post:
      summary: Create Termination
      tags:
      - Employees Termination
      operationId: createTermination
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/employees/{employee_id}/terminations/{termination_id}:
    delete:
      summary: Delete Termination
      tags:
      - Employees Termination
      operationId: deleteTermination
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      - name: termination_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/timeoffs:
    get:
      summary: List Timeoffs
      tags:
      - Timeoffs
      operationId: listTimeoffs
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/timeoffs/{timeoff_id}:
    get:
      summary: Get Timeoff
      tags:
      - Timeoffs
      operationId: getTimeoff
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: timeoff_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/timeoff_transactions:
    get:
      summary: List Timeoff Transactions
      tags:
      - Timeoff Transaction
      operationId: listTimeoffTransactions
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/timeoff_transactions/{timeoff_transaction_id}:
    get:
      summary: Get Timeoff Transaction
      tags:
      - Timeoff Transaction
      operationId: getTimeoffTransaction
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: timeoff_transaction_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/timeoff_transaction_requests/{timeoff_transaction_request_id}:
    post:
      summary: Create Timeoff Transaction Request
      tags:
      - Timeoff Transaction
      operationId: createTimeoffTransactionRequest2
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: timeoff_transaction_request_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/financial_transaction_types:
    get:
      summary: List Financal Transaction Types
      tags:
      - Financial Transaction Types
      operationId: listFinancalTransactionTypes
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create Financial Transaction Type Copy
      tags:
      - Financial Transaction Types
      operationId: createFinancialTransactionTypeCopy
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/financial_transaction_types/{financial_transaction_type_id}:
    get:
      summary: Get Financial Transaction Type
      tags:
      - Financial Transaction Types
      operationId: getFinancialTransactionType
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: financial_transaction_type_id
        in: path
        required: true
        schema:
          type: string
    patch:
      summary: Update Financial Transaction Type Copy 2
      tags:
      - Financial Transaction Types
      operationId: updateFinancialTransactionTypeCopy2
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: financial_transaction_type_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Delete Financial Transaction Type Copy 3
      tags:
      - Financial Transaction Types
      operationId: deleteFinancialTransactionTypeCopy3
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: financial_transaction_type_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/financial_transactions:
    get:
      summary: List Financal Transactions
      tags:
      - Financial Transactions
      operationId: listFinancalTransactions
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create Financial Transaction
      tags:
      - Financial Transactions
      operationId: createFinancialTransaction
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/financial_transactions/{financial_transaction_id}:
    get:
      summary: Get Financial Transaction
      tags:
      - Financial Transactions
      operationId: getFinancialTransaction
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: financial_transaction_id
        in: path
        required: true
        schema:
          type: string
    patch:
      summary: Edit Financial Transaction
      tags:
      - Financial Transactions
      operationId: editFinancialTransaction
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: financial_transaction_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Destroy Financial Transaction
      tags:
      - Financial Transactions
      operationId: destroyFinancialTransaction
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: financial_transaction_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/loan_types/{loan_type_id}:
    get:
      summary: List Loan Types
      tags:
      - Loan Types
      operationId: listLoanTypes
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: loan_type_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create Loan Type
      tags:
      - Loan Types
      operationId: createLoanType
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: loan_type_id
        in: path
        required: true
        schema:
          type: string
    patch:
      summary: Edit Loan Type
      tags:
      - Loan Types
      operationId: editLoanType
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: loan_type_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/loans:
    get:
      summary: List Loans
      tags:
      - Loans
      operationId: listLoans2
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create Loan
      tags:
      - Loans
      operationId: createLoan2
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/loans/{loan_id}:
    get:
      summary: Get Loan
      tags:
      - Loans
      operationId: getLoan2
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: loan_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Destroy Loan
      tags:
      - Loans
      operationId: destroyLoan2
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: loan_id
        in: path
        required: true
        schema:
          type: string
    patch:
      summary: Edit Loan
      tags:
      - Loans
      operationId: editLoan2
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: loan_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/overtime_types:
    get:
      summary: List Overtime Types
      tags:
      - Overtime Types
      operationId: listOvertimeTypes
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create Overtime Type
      tags:
      - Overtime Types
      operationId: createOvertimeType
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/overtime_types/{overtime_type_id}:
    get:
      summary: Get Overtime Type
      tags:
      - Overtime Types
      operationId: getOvertimeType
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: overtime_type_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Destroy Overtime Type
      tags:
      - Overtime Types
      operationId: destroyOvertimeType
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: overtime_type_id
        in: path
        required: true
        schema:
          type: string
    patch:
      summary: Edit Overtime Type
      tags:
      - Overtime Types
      operationId: editOvertimeType
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: overtime_type_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/overtimes:
    get:
      summary: List Overtime
      tags:
      - Overtimes
      operationId: listOvertime2
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create Overtime
      tags:
      - Overtimes
      operationId: createOvertime2
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/overtimes/{overtime_id}:
    get:
      summary: Get Overtime
      tags:
      - Overtimes
      operationId: getOvertime2
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: overtime_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Destroy Overtime
      tags:
      - Overtimes
      operationId: destroyOvertime2
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: overtime_id
        in: path
        required: true
        schema:
          type: string
    patch:
      summary: Edit Overtime
      tags:
      - Overtimes
      operationId: editOvertime2
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: overtime_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/competencies_categories/{competencies_category_id}/competencies:
    get:
      summary: List Competencies
      tags:
      - Competencies
      operationId: listCompetencies
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: competencies_category_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create Competency
      tags:
      - Competencies
      operationId: createCompetency
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: competencies_category_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/competencies_categories/{competencies_category_id}/competencies/{competency_id }:
    get:
      summary: Get Competency
      tags:
      - Competencies
      operationId: getCompetency
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: competencies_category_id
        in: path
        required: true
        schema:
          type: string
      - name: 'competency_id '
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/competencies_categories/{competencies_category_id}/competencies/{competency_id}:
    patch:
      summary: Update Competency
      tags:
      - Competencies
      operationId: updateCompetency
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: competencies_category_id
        in: path
        required: true
        schema:
          type: string
      - name: competency_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Delete Competency
      tags:
      - Competencies
      operationId: deleteCompetency2
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: competencies_category_id
        in: path
        required: true
        schema:
          type: string
      - name: competency_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/competencies_categories/{competencies_category_id}/level_scales:
    get:
      summary: List Level Scales
      tags:
      - Level Scales
      operationId: listLevelScales
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: competencies_category_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create Level Scale
      tags:
      - Level Scales
      operationId: createLevelScale
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: competencies_category_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/competencies_categories/{competencies_category_id}/level_scales/{level_scale_id }:
    get:
      summary: Get Level Scale
      tags:
      - Level Scales
      operationId: getLevelScale
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: competencies_category_id
        in: path
        required: true
        schema:
          type: string
      - name: 'level_scale_id '
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/competencies_categories/{competencies_category_id}/level_scales/{level_scale_id}:
    patch:
      summary: Update Level Scale
      tags:
      - Level Scales
      operationId: updateLevelScale
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: competencies_category_id
        in: path
        required: true
        schema:
          type: string
      - name: level_scale_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Delete Level Scale
      tags:
      - Level Scales
      operationId: deleteLevelScale
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: competencies_category_id
        in: path
        required: true
        schema:
          type: string
      - name: level_scale_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/competencies_categories:
    get:
      summary: List Competencies Categories
      tags:
      - Competencies Categories
      operationId: listCompetenciesCategories
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create Competencies Category
      tags:
      - Competencies Categories
      operationId: createCompetenciesCategory
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/competencies_categories/{competencies_category_id}:
    get:
      summary: Get Competencies Category
      tags:
      - Competencies Categories
      operationId: getCompetenciesCategory
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: competencies_category_id
        in: path
        required: true
        schema:
          type: string
    patch:
      summary: Update Competencies Category
      tags:
      - Competencies Categories
      operationId: updateCompetenciesCategory
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: competencies_category_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Delete Competencies Category
      tags:
      - Competencies Categories
      operationId: deleteCompetenciesCategory
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: competencies_category_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/hr_letter_types:
    get:
      summary: List HR Letter Types
      tags:
      - HR Letter Types
      operationId: listHrLetterTypes
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create HR Letter Type
      tags:
      - HR Letter Types
      operationId: createHrLetterType
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/hr_letter_types/{hr_letter_type_id}:
    get:
      summary: Get HR Letter Type
      tags:
      - HR Letter Types
      operationId: getHrLetterType
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: hr_letter_type_id
        in: path
        required: true
        schema:
          type: string
    patch:
      summary: Update HR Letter Type
      tags:
      - HR Letter Types
      operationId: updateHrLetterType
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: hr_letter_type_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Delete HR Letter Type
      tags:
      - HR Letter Types
      operationId: deleteHrLetterType
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: hr_letter_type_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/hr_letter_templates:
    get:
      summary: List HR Letter Templates
      tags:
      - HR Letter Templates
      operationId: listHrLetterTemplates
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create HR Letter Template
      tags:
      - HR Letter Templates
      operationId: createHrLetterTemplate
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/hr_letter_templates/{hr_letter_template_id}:
    get:
      summary: Get HR Letter Template
      tags:
      - HR Letter Templates
      operationId: getHrLetterTemplate
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: hr_letter_template_id
        in: path
        required: true
        schema:
          type: string
    patch:
      summary: Update HR Letter Template
      tags:
      - HR Letter Templates
      operationId: updateHrLetterTemplate
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: hr_letter_template_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Delete HR Letter Template
      tags:
      - HR Letter Templates
      operationId: deleteHrLetterTemplate
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: hr_letter_template_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/hr_letters:
    get:
      summary: List HR Letters
      tags:
      - Employees HR Letters
      operationId: listHrLetters
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create HR Letter
      tags:
      - Employees HR Letters
      operationId: createHrLetter
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
  /branches/{branch_id}/hr_letters/{hr_letter_id}:
    get:
      summary: Get HR Letter
      tags:
      - Employees HR Letters
      operationId: getHrLetter
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
        in: path
        required: true
        schema:
          type: string
      - name: hr_letter_id
        in: path
        required: true
        schema:
          type: string
    patch:
      summary: Update HR Letter
      tags:
      - Employees HR Letters
      operationId: updateHrLetter
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Not found
      parameters:
      - name: branch_id
[...]
